<div class="container">
    <div class ="row justify-content-center">
        <div class="col-align-self-center">
            <h1>Create and Eat Your Burgers!</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="col-align-self-center">
            </div>
            <div>
                <h2>Menu</h2>
                <div>
                    <ul>
                        {{#each burgers}} {{#unless this.devoured}}
                        {{> burger-item devoured=false}}
                        {{/unless}}{{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h2> Add your own burger!</h1>
                    <div class="form-group">
                        <label for="name">Burger Name:</label>
                        <input type="text" id="name" name="burger_name">
                    </div>
                    <button class="create-burger" type="submit" >Add burger!</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <h2>Eaten Burgers</h2>
                <ul>
                    {{#each burgers}} {{#if this.devoured}}
                    <li>
                        {{this.id}} - {{this.burger_name}}
                    </li>
                    {{/if}}{{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>